body {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    height: 100vh;
}
.main_heading {
    text-align: center !important;
}
.main_heading  h1 {
    color: white !important;
    margin-top: 10px !important;
    font-size: 50px !important;
}
.heading_form {
    font-size: 50px;
    text-decoration: underline;
    color: black;

}
.container {
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    width: 80% !important;
    max-width: 800px !important;
    margin: 50px auto;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4), inset 0 0 15px rgba(255, 255, 255, 0.1);
    /* box-shadow: 0px 0px 10px black !important; */

}

.main_div {
    /* background-color: red !important; */
    padding: 20px 20px;
    width: 100%;
}
.input{
    width: 100% !important;
    padding: 8px !important;
    border-radius:  10px !important;
    border: none !important;
}
.para {
    font-size: 25px;
    margin-top: 10px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-weight: 700;
}
.btn {
    width: 100%;
    font-size: 20px !important;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700 !important;
    padding: 10px !important;
}